NUXT_PUBLIC_API_BASE=http://localhost:8000
NUXT_PUBLIC_COUNTER_PATH=/counter
NUXT_PUBLIC_UPLOAD_IMAGE_PATH=/api/uploads/image
NUXT_PUBLIC_UPLOAD_LIST_PATH=/api/uploads/list
NUXT_PUBLIC_UPLOAD_RENAME_PATH=/api/uploads/rename
NUXT_PUBLIC_UPLOAD_DELETE_BASE_PATH=/api/uploads/file/
NUXT_PUBLIC_UPLOAD_PREVIEW_BASE_PATH=/api/uploads/image/
NUXT_PUBLIC_GENAI_TEXT_PATH=/api/genai/text
NUXT_PUBLIC_GENAI_IMAGE_PATH=/api/genai/image
NUXT_PUBLIC_PRESENTATIONS_PATH=/api/presentations
